.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
.datetime-box {
    background-color: #fff;
    padding: 12px 24px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: #333;
}